<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= fa_icon "user 2x",  text: @user.name %>
      </h1>
    </section>
    <section class="post_form">
      <%= render 'shared/post_form' %>
    </section>
  </aside>
  <div class="col-md-8" id="my_posts" data-user-id="<%=  @user.id %>">
    <% if @feed_items.any? %>
      <h3>My Posts</h3>
      <%= render 'shared/feed' %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  setTimeout(updateMyPost, 15000);
    function updateMyPost(){
      var user_id = $('#my_posts').attr('data-user-id');
      var page_param = window.location.search;
      $.getScript("/users/" + user_id + ".js" + page_param)
      setTimeout(updateMyPost, 15000);
  }
</script>


